SetEnv APPLICATION_ENV development
Options -Indexes

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^.*$ - [NC,L]
RewriteRule ^(css|js|img)/(.*)$ public/$1/$2 [L]

RewriteRule ^(.*)$ index.php [NC,L]

# Portable addition rewrite rule
