$themeRed: #BC0F0F;
$themeBlue: #1616DB;

@mixin bg-gradient ($from, $to) {
    background: $to; /* Old browsers */
    background: -moz-linear-gradient(top, $from 0%, $to 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $from 0%, $to 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $from 0%, $to 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $from 0%, $to 100%); /* IE10+ */
    background: linear-gradient(to bottom, $from 0%, $to 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to', GradientType=0); /* IE6-9 */
}

$navHeight: 60px;

//導覽列
.navbar {
    position: fixed;
    overflow: hidden;
    padding-right: 10px;
    z-index: 9999;
    width: 100%;
    height: $navHeight;
    @include bg-gradient(#2f363e, #222222);

    //LOGO
    .navbar-brand {
        float: left;
        line-height: $navHeight;
        img {
            height: $navHeight * 0.4;
            margin-top: ($navHeight * 0.6) * 0.5;
            margin-left: ($navHeight * 0.6) * 0.5;
        }
    }

    //導覽列內容
    .navbar-list {
        float: right;

        a {
            color: white;
        }

        li {
            display: inline-block;
            line-height: $navHeight;
            padding: 0 15px;

            &.current {
                transform: skewX(-20deg);
                -webkit-transform: skewX(-20deg);
                -ms-transform: skewX(-20deg);

                &.bg-red {
                    @include bg-gradient($themeRed, #570a0a);
                }

                &.bg-blue {
                    @include bg-gradient($themeBlue, #12125b);
                }

                a {
                    color: #cacaca;
                    transform: skewX(20deg);
                    -webkit-transform: skewX(20deg);
                    -ms-transform: skewX(20deg);
                }
            }
        }
    }
}

.container {
    position: absolute;
    top: $navHeight;
    width: 100%;
}

//about
.intro {
    position: relative;

    .intro-content {
        position: relative;
        overflow: hidden;
        background: url(/img/bg1.jpg);
        background-size: cover;
    }

    img {
        float: right;
    }

    h3 {
        position: absolute;
        padding: 10px;
        text-align: center;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 20px;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .next-btn,
    .prev-btn {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: center;
        line-height: 30px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        overflow: auto;
        margin: auto;
        top: 0;
        bottom: 0;
    }

    .next-btn {
        left: 10px;
    }
    .prev-btn {
        right: 10px;
    }
}

.intro-detail {
    padding: 30px 50px;
    overflow: hidden;
    h4 {
        font-size: 30px;
        margin: 20px 0 30px;
    }
    p {
        width: 45%;
        font-size: 13px;
        line-height: 20px;

        &.left {
            float: left;
        }

        &.right {
             float: right;
        }
    }
}

//產品列表背景
.products {
    background: url("/img/bg-products.jpg") no-repeat;
    background-size: 100% auto;

    .products-kinds {
        background-color: rgba(0, 0, 0, 0.2);
        border-top: 1px solid #333;

        ul {
            box-sizing: border-box;
            width: 80%;
            margin: 0 auto;
        }

        li {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            width: 19.5%;
            color: #333;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            text-align: center;
            cursor: pointer;

            -webkit-transition: background-color 0.5s, color 0.5s;
            -moz-transition: background-color 0.5s, color 0.5s;
            transition: background-color 0.5s, color 0.5s;

            &:hover {
                color: #525252;
                background-color: #dedede;
            }

            &.current {
                color: white;
                font-weight: bold;

                .arrow {
                    border-bottom-color: white;
                }
            }
        }

        .arrow {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            margin: 0 auto;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    .product-container {
        position: relative;
        width: 80%;
        overflow: hidden;
        margin: 0 auto;
    }

    .product-item {
        float: left;
        width: 150px;
        height: 150px;
        margin: 10px;
        background-color: #0398CA;
        overflow: hidden;

        img {
            width: 150px;
            height: 150px;
            transition: 1s;
        }

        &:hover {
            img {
                -webkit-transform: scale(1.3, 1.3) rotate(15deg);
                -moz-transform: scale(1.3, 1.3) rotate(15deg);
                -ms-transform: scale(1.3, 1.3) rotate(15deg);
                transform: scale(1.3, 1.3) rotate(15deg);
            }
        }
    }

    .product-now {
        float: left;
        clear: both;

        margin: 10px;
        width: 100%;
        height: 100px;
        background-color: #0398CA;
    }
}

.products-nav {
    background-color: #252525;

    a {
        color: white;
        &:hover {
            color: $themeRed;
            background-color: #B4B4B4 !important;
        }
    }
}

#about-us-slides {
    .item {
        position: relative;
    }

    .carousel-content-left {
        position: absolute;
        top: 0;
        width: 25%;
        height: 100%;
        padding: 10px 30px 10px 10px;
        display: none;

        background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 91%, rgba(0,0,0,0.3) 96%, rgba(0,0,0,0.08) 99%, rgba(0,0,0,0) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(91%,rgba(0,0,0,1)), color-stop(96%,rgba(0,0,0,0.3)), color-stop(99%,rgba(0,0,0,0.08)), color-stop(100%,rgba(0,0,0,0)));
        background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 91%,rgba(0,0,0,0.3) 96%,rgba(0,0,0,0.08) 99%,rgba(0,0,0,0) 100%);
        background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 91%,rgba(0,0,0,0.3) 96%,rgba(0,0,0,0.08) 99%,rgba(0,0,0,0) 100%);
        background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 91%,rgba(0,0,0,0.3) 96%,rgba(0,0,0,0.08) 99%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 91%,rgba(0,0,0,0.3) 96%,rgba(0,0,0,0.08) 99%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );

        * {
            color: white;
            width: 100%;
            text-align: justify;
            text-justify: inter-ideograph;
        }
    }

    .carousel-control {
        .glyphicon {
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            font-size: 17px;
            width: 120px;
            height: 60px;
            line-height: 60px;
            background-color: rgba(0, 0, 0, 0.5);
            transition: left .5s;

            &.glyphicon-chevron-left {
                text-indent: 90px;
                left: -75px;
            }

            &.glyphicon-chevron-right {
                text-indent: -90px;
                left: 145px;
            }
        }

        &:hover {
            .glyphicon {
                &.glyphicon-chevron-left {
                    left: -60px;
                }

                &.glyphicon-chevron-right {
                    left: 130px;
                }
            }
        }
    }

    .carousel-caption {
        h3 {
            padding: 20px;
            margin-bottom: 5px;
            width: inherit;
        }
        h4 {
            background-color: rgba(121, 12, 12, 0.7);
            padding: 20px;
        }
        .bg-red {
            background-color: rgba(121, 12, 12, 0.7);
        }

    }
}

.products-items {
    .item {
        position: relative;
        padding: 3px;
    }

    .item-image {
        img {
            width: 100%;
        }
    }

    .item-title {
        padding: 10px 0;
        text-align: center;
        background-color: white;
    }

    .btn-more {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
        background-color: rgba(255, 255, 255, 0.9);
    }
}

#product-modal {
    .modal-content {
        border: none;
    }

    .product-title {
        background-color: #ededed;
        text-align: center;
        padding: 20px 0;
    }

    .product-details {
        padding: 10px 20px;
        background-color: #ededed;
        text-align: justify;
        text-justify: inter-ideograph;
        text-indent: 4em;
    }

    .product-image {
        padding: 0 0 0 5px;
    }

    .btn-close {
        position: absolute;
        border: none;
        width: 40px;
        height: 40px;
        right: -5px;
        top: 0;
        padding: 0;
        text-align: center;
        border-radius: 0;
    }
}

.contact-us {
    background: url("/img/bg-form.jpg") no-repeat;
    background-size: 100% auto;
    border-top: 1px solid #666;
    text-align: center;

    .contact-form {
        width: 300px;
        margin: auto;
        margin-top: 50px;
    }

    input, textarea {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        line-height: 25px;
        margin-bottom: 10px;
        padding: 5px 10px;
        font-size: 14px;
        outline: none;
    }

    textarea {
        height: 130px;
    }

    input[type=text], textarea {
        font-style: italic;
        background: rgba(255, 255, 255, 0.8);
        border: 1px solid #cccccc;
        -webkit-transition: background-color 0.3s, color 0.3s;
        -moz-transition: background-color 0.3s, color 0.3s;
        transition: background-color 0.3s, color 0.3s;

        &:focus {
            background: white;
            border: 1px solid #666;
        }
    }

    .btn-submit {
        -webkit-transition: background-color 0.3s, color 0.3s;
           -moz-transition: background-color 0.3s, color 0.3s;
                transition: background-color 0.3s, color 0.3s;
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid #666;
        cursor: pointer;

        &:hover {
            color: white;
            background: rgba(0, 0, 0, 0.8);
        }
    }
}