@import "_lib.scss";

$themeRed: #BC0F0F;
$themeBlue: #1616DB;
$navHeight: 60px;

//導覽列
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 1200px;
    height: $navHeight;
    z-index: 9999;
    @include bg-gradient(#2f363e, #222222);

    //LOGO
    .navbar-brand {
        float: left;
        line-height: $navHeight;
        img {
            height: $navHeight * 0.4;
            margin-top: ($navHeight * 0.6) * 0.5;
            margin-left: ($navHeight * 0.6) * 0.5;
        }
    }

    //導覽列內容
    .navbar-list {
        float: right;

        a {
            color: white;
        }

        li {
            display: inline-block;
            line-height: $navHeight;
            padding: 0 15px;

            &.current {
                @include transform(skewX(-20deg));

                &.bg-red {
                    @include bg-gradient($themeRed, #570a0a);
                }

                &.bg-blue {
                    @include bg-gradient($themeBlue, #12125b);
                }

                a {
                    color: #cacaca;
                    @include transform(skewX(20deg));
                }
            }
        }
    }
}

.container {
    position: absolute;
    top: $navHeight;
    width: 100%;
    min-width: 1200px;
    @include transition(top 0.7s);
}

//about us
.intro {
    position: relative;

    .intro-content {
        position: relative;
        height: 500px;
        overflow: hidden;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            @include transition(top 10s);
        }


        &.slick-active {
            img {
                top: -50px;
            }
        }
    }

    img {
        float: right;
    }

    h3 {
        position: absolute;
        padding: 10px;
        text-align: center;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 20px;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .next-btn,
    .prev-btn {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: center;
        line-height: 30px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        overflow: auto;
        margin: auto;
        top: 0;
        bottom: 0;
    }

    .next-btn {
        left: 10px;
    }
    .prev-btn {
        right: 10px;
    }
}

.intro-detail {
    padding: 30px 50px;
    overflow: hidden;
    h4 {
        font-size: 30px;
        margin: 20px 0 30px;
    }
    p {
        width: 45%;
        font-size: 13px;
        line-height: 20px;

        &.left {
            float: left;
        }

        &.right {
             float: right;
        }
    }
}

//產品分類表
.products-kinds {
    background-color: rgba(0, 0, 0, 0.2);
    border-top: 1px solid #333;

    ul {
        box-sizing: border-box;
        width: 80%;
        margin: 0 auto;
    }

    li {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        width: 19.5%;
        color: #333;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
        cursor: pointer;

        -webkit-transition: background-color 0.5s, color 0.5s;
        -moz-transition: background-color 0.5s, color 0.5s;
        transition: background-color 0.5s, color 0.5s;

        &:hover {
            color: #525252;
            background-color: #dedede;
        }

        &.current {
            color: white;
            font-weight: bold;

            .arrow {
                border-bottom-color: white;
            }
        }
    }

    .arrow {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        margin: 0 auto;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.products {
    position: relative;
    @include box-shadow(1px 0 5px 2px rgba(0, 0, 0, 0.3) inset);

    .product-container {
        position: relative;
        width: 80%;
        overflow: hidden;
        margin: 0 auto;
    }

    .product-item {
        float: left;
        width: 150px;
        height: 150px;
        margin: 10px;
        background-color: #0398CA;
        border: 1px solid #cccccc;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: 3s;
        }

        .product-name {
            position: absolute;
            bottom: 0;
            left:0;
            right:0;
            text-align: center;
            padding: 10px;
        }

        .product-describe {
            display: none;
        }

        &:hover {
            img {
                @include transform(scale(1.3, 1.3));
            }
        }
    }

    .product-detail {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        @include transition(background-color 1s);

        .product-detail-container {
            position: absolute;
            margin: auto auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 70%;
            height: 50%;
            min-height: 300px;
            @include transition(top 0.5s);
        }

        &.hide {
            background-color: rgba(0, 0, 0, 0);
            .product-image {
                top: 20px;
            }
        }

        .product-image {
            float: left;
            margin-right: 30px;
            @include transition(top 0.5s);
            img {
                @include border-radius(2px);
                @include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
            }
        }

        .product-describe {
            float: left;
            width: 400px;
            height: 100%;
            margin-right: 5px;
            padding: 20px;
            background-color: white;
            @include box-sizing(border-box);
            @include border-radius(2px);
            @include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
        }

        h3 {
            padding: 0 0 10px 20px;
            margin-bottom: 30px;
            font-size: 18px;
            color: #333;
            border-bottom: 1px solid #CCC;
        }

        p {
            font-size: 11px;
            line-height: 20px;
        }

        ul {
            position: absolute;
            bottom: 20px;

            li {
                display: inline-block;
                margin-right: 10px;
            }

            img {
                width: 50px;
                height: 50px;
            }
        }

        .btn-set {
            float: left;

            & > * {
                width: 50px;
                height: 50px;
                margin-bottom: 5px;
                font-size: 15px;
                text-align: center;
                line-height: 50px;
                color: #333;
                background-color: white;
                cursor: pointer;
                @include transition(background-color 0.5s, color 0.5s);
                @include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
                @include border-radius(2px);
            }

            .btn-close:hover {
                color: white;
                background-color: $themeRed;
            }

            .btn-ask:hover {
                color: white;
                background-color: $themeBlue;
            }
        }
    }
}

.contact-us {
    background: url("/img/bg-form.jpg") no-repeat;
    background-size: 100% auto;
    border-top: 1px solid #666;
    text-align: center;

    .contact-form {
        width: 300px;
        margin: auto;
        margin-top: 50px;
        background-color: rgba(255, 255, 255, 0.7);
    }

    input, textarea {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        line-height: 25px;
        margin-bottom: 10px;
        padding: 5px 10px;
        font-size: 14px;
        outline: none;
    }

    textarea {
        height: 130px;
    }

    input[type=text], textarea {
        font-style: italic;
        background: rgba(255, 255, 255, 0.8);
        border: 1px solid #8b8b8b;
        @include transition(background-color 0.3s, color 0.3s);

        &:focus {
            background: white;
            border: 1px solid #333;
        }
    }

    .field {
        position: relative;
        height: 50px;
        & > * {
            position: absolute;
        }

        &.field-message {
            height: 140px;
        }
    }

    label.error {
        text-align: right;
        right: 5px;
        top: 0;
        bottom: 0;
        line-height: 40px;
        color: $themeRed;
    }

    .btn-submit {
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid #666;
        cursor: pointer;
        @include transition(background-color 0.3s, color 0.3s);

        &:hover {
            color: white;
            background: rgba(0, 0, 0, 0.8);
        }
    }
}